/*-------------------------------------GENERAL-------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #2e3141; */
}
/*-------------------------------------HEADER-------------------------------------*/
/* Style the header */
header {
  grid-area: header;
  color: white;
  background-color: #4e4e4e;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
/*-------------------------------------NAV-------------------------------------*/
nav {
  grid-area: nav;
  color: white;
  background-color: #1f1f1f;
  text-align: center;
  font-size: 24px;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
  background-color: rgb(85, 191, 209);
  color: black;
}
/*-------------------------------------BANNER-------------------------------------*/
.Banner {
  color: white;
  background-color: rgb(85, 191, 209); /* NICE green rgb(85, 209, 151); NICE blue rgb(85, 191, 209); NICE purple rgb(129, 85, 209) */
  text-align: center;
  font-size: 22px;
}
#AboutBanner { grid-area: ABOUT; }
#SkillsBanner { grid-area: SKILLS; }
#GamesBanner { grid-area: GAMES; }
#BlogBanner { grid-area: BLOG; }
#ContactBanner { grid-area: CONTACT; }
/*-------------------------------------CONTENT-------------------------------------*/
.Content {
  color: white;
  background-color: #706f6f;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  margin: 20px;
}
#About { grid-area: about; }
#Skills { grid-area: skills; }
/*-------------------------------------PICTURE-------------------------------------*/
#Pic {
  grid-area: pic;
  background-color: rgb(202, 29, 29);
  width: 500px;
  margin: 20px;
}
/*-------------------------------------GRID-------------------------------------*/
/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header'
    'nav nav nav nav nav nav'
    'ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT'
    'about about about about about pic'
    'SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS'
    'skills skills skills skills skills skills'
    'GAMES GAMES GAMES GAMES GAMES GAMES'
    'left left middle middle right right' 
    'BLOG BLOG BLOG BLOG BLOG BLOG'
    'CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT'
    'footer footer footer footer footer footer';
   /*grid-column-gap: 10px; /* if you want gap between the columns */
} 
/*-------------------------------------BOXES-------------------------------------*/
.left,
.middle,
.right {
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
/* Style the left column */
.left {
  grid-area: left;
}
/* Style the middle column */
.middle {
  grid-area: middle;
}
/* Style the right column */
.right {
  grid-area: right;
}
/*-------------------------------------FOOTER-------------------------------------*/
/* Style the footer */
footer {
  grid-area: footer;
  color: white;
  background-color: #333;
  padding: 10px;
  text-align: center;
}
/*-------------------------------------MEDIA QUERIES-------------------------------------*/
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'nav nav nav nav nav nav'
      'ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT'
      'about about about about about pic'
      'SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS'
      'skills skills skills skills skills skills'
      'GAMES GAMES GAMES GAMES GAMES GAMES'
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'BLOG BLOG BLOG BLOG BLOG BLOG'
      'CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT'
      'footer footer footer footer footer footer';
  }
}