/*--------------------------------------------GRID-----------------------------------------------*/
  header {
    grid-area: header;
  }
  nav {
    grid-area: nav;
  }
  article { 
    grid-area: article;
  }
  section {  
    grid-area: section;
  }
  figure {
    grid-area: figure;
  }
  figcaption {
    grid-area: figcaption;
  }
  footer {
    grid-area: footer;
  }


  .aboutBanner {
    grid-area: ABOUT;
  }
  .skillsBanner {
    grid-area: SKILLS;
  }
  .gamesBanner {
    grid-area: GAMES;
  }
  .resumeBanner {
    grid-area: RESUME;
  }
  .contactBanner {
    grid-area: CONTACT;
  }


/* About Grid */
  .intro_para
  {
    grid-area: intro_para;
  }
  .profile_pic
  {
    grid-area: profile_pic
  }

  /* Skills Grid */
  .skills1
  {
    grid-area: skills1;
  }
  .skills2
  {
    grid-area: skills2;
  }

  /* Game Grid */
  .box1 {
    grid-area: box1;
  }
  .box2 {
    grid-area: box2;
  }
  .box3 {
    grid-area: box3;
  }
  .box4 {
    grid-area: box4;
  }
  .box5 {
    grid-area: box5;
  }
  .box6 {
    grid-area: box6;
  }

  /* Resume Grid */
  /* Contact Grid */
  /*----------------------------------------TEXT COLOUR--------------------------------------------*/
  p, li, table, figcaption{
    color: rgb(32, 32, 32);
  }
  h1 {
    font-size: 30px;
    color: rgb(32, 32, 32);
    font-family: Helvetica;
  }
  h2, h3 {
  color: rgb(224, 239, 222);
  font-family: Helvetica;
  }
  h4 {
    font-size: 25px;
    color: rgb(48, 197, 255);
    font-family: monospace;
  }
  /*-------------------------------------------HEADER-----------------------------------------------*/
  header {
    background-color: rgb(32, 32, 32);
    border: 3px solid rgb(32, 32, 32);
    border-bottom-color: rgb(48, 197, 255); 
    padding: 20px;
  }
  #Website_title {
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Helvetica;
  }
  .headerToggle {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .headerToggle + .container {
    padding-top: 102px;
  }
  /*--------------------------------------------BANNER-----------------------------------------------*/
  .aboutBanner,
  .skillsBanner,
  .gamesBanner,
  .resumeBanner,
  .contactBanner {
    background-color: rgb(32, 32, 32);
    border: 2px solid rgb(255, 255, 255); /* may not need */
    text-align: center;
    font-family: Helvetica;
  }
  /*--------------------------------------------NAV-------------------------------------------------*/
  .menu {
      /* margin: 20px; */
      text-align: center;
      padding: 40px;
      background-color: rgb(32, 32, 32);
      border: 4px solid rgb(32, 32, 32);
      border-bottom-color: rgb(48, 197, 255);
  }
  .nav_links {
    text-decoration: none;
    /* color: rgb(86, 56, 255);  nice blue colour */ 
    color: rgb(48, 197, 255);
    margin: 100px;
    padding: 20px;
    font-size: 25px;
    font-family: monospace;
  }
  .nav_links:hover {
    background-color: rgb(48, 197, 255);
    border-radius: 30px;
    color: white;
  }
  /*------------------------------------------ARTICLE-----------------------------------------------*/
  article {
      text-align: center;
      padding: 40px;
  }
  /*---------------------------------------INTRODUCTION---------------------------------------------*/
  #introduction {
    margin: 40px;
    font-family: monospace;
    font-size: 26px;
  }
  /*----------------------------------------PARAGRAPHS----------------------------------------------*/
  p {
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(32, 32, 32);
    border-radius: 10px;

    padding: 25px;
    overflow: auto;
    font-family: Helvetica;
  }
  .clearfix {  /* expands container to account for any overflow of content */
    overflow: auto;
  }
  /*-----------------------------------------FOOTER----------------------------------------------*/
  footer 
  {
    background-color:rgb(32, 32, 32);
    color:rgb(255, 255, 255);
    padding: 30px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
  }
  .fab:hover {
      color: rgb(48, 197, 255);
  }
  .fa-twitter,
  .fa-github,
  .fa-linkedin,
  .fa-playstation {
    color: rgb(110, 110, 110);
  }
  /*--------------------------------------MEDIA QUERIES------------------------------------------*/
  /* Responsive Design */

  /* Desktop */
  @media only screen and (min-width: 992px)
  {
    body {
      margin: 0%;
      background-color: rgb(245, 245, 245);
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
      "header"
      "nav"
      "article"
      "footer";
    }
   
    article {
      display: grid;
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
      "ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT"
      "intro_para intro_para intro_para intro_para intro_para intro_para intro_para profile_pic profile_pic profile_pic profile_pic"
      "SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS"
      ". skills1 skills1 skills1 skills1 . skills2 skills2 skills2 skills2 ."
      "GAMES GAMES GAMES GAMES GAMES GAMES GAMES GAMES GAMES GAMES GAMES"
      "box1 box1 box1 . box2 box2 box2 . box3 box3 box3"
      "box4 box4 box4 . box5 box5 box5 . box6 box6 box6"
      "RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME RESUME"
      "CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT"
    }

    section {
      margin: 20px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
      "figure";
    }

    figure { 
      margin: 60px;
      color: rgb(224, 239, 222);
      font-family: Helvetica;
      background-color: rgb(77, 77, 77);
      border: 2px solid rgb(255, 255, 255);
      border-radius: 50px;

      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
      "figcaption";
    }
  }
  
  /* Tablet (Ipad) */ 
  @media only screen and (max-width: 768px) 
  {
    body {
      background-color: rgb(245, 245, 245);
    }

    #Website_title {
      font-size: 60px;
    }

    .menu {
      padding: 10px;
    }
    .nav_links {
      margin: auto;
    }
  }
  
  /* Mobile (Iphone 6/7/8) */
  @media only screen and (max-width: 600px) 
  {
    body {
      background-color: rgb(245, 245, 245);
    }

    #Website_title {
      font-size: 30px;
    }
    .headerToggle {
      padding: 10px;
      position: fixed;
      top: 0;
      width: auto;
    }
    .headerToggle + .container {
      padding-top: 102px;
    }

    .menu {
      padding: 10px;
    }
    .nav_links {
      margin: auto;
    }
   
    article {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
      "ABOUT ABOUT ABOUT"
      "intro_para . profile_pic"
      "SKILLS SKILLS SKILLS"
      "skills1 . skills2"
      "GAMES GAMES GAMES"
      "box1 box1 box1"
      "box2 box2 box2"
      "box3 box3 box3"
      "box4 box4 box4"
      "box5 box5 box5"
      "box6 box6 box6"
      "RESUME RESUME RESUME"
      "CONTACT CONTACT CONTACT";
    }
  }